html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #181818;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #fdfdfd ;
    background: #181818;
  }
}